body{
    background-color: #FEFAEF !important;
    min-height: 100vh;
}
.container{
    min-height: 100vh;
    background-color: #FEFAEF !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.question-footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0,0.4);
    padding-top: 8px;
}
.quiz-card{
    width: 30rem;
}
.quiz-answer-card:hover{
    background-color: #0D6EFD;
    cursor: pointer;
}
.bg-success, .bg-danger{
    color: white !important;
}
.result{
    display: flex;
    justify-content: center;
    gap: 4px
}
.width-100{
    width: 100%;
}
.text-center{
    text-align: center;
}
.end-screen{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}